body {
    background-color: #e8e7e1;
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 18px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva;
    color:#313242;
    text-align: left;
    font-size: 30px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 24px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 20px;
    color: #121212;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 18px;
    color: #121212;    
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 18px;
    color: #121212;     
}