/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  /* Background colour*/
  --col-01:#222323;

  /* General text colour */
  --col-02:#f0f6f0;

  /* Filter buttons */
  --col-03:#bab1b8;
  --col-04:#ba87af;

  /* Hyperlinks */
  --col-05:rgb(29, 208, 240);
  --col-06:rgb(23, 142, 163);

  --col-07:rgb(133, 139, 141);

  /* Attribution */
  --col-08:rgb(13, 81, 104);

  --border: 1px solid var(--col-02);
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
}

body > div {
  padding: 2vh;
}

a {
  color: var(--col-06);
}

/*
  i've set up a basic flexbox for each recipe container - you might want to change some of the 
  flex properties here on the container or on the individual flex items depending on how you want to style them
*/
.CentreTitle{
  display: flex;
  justify-content: center;
}

.RecipeBox{
  display: flex;
  flex-direction: column;
  border: var(--border);
  padding: 2vw;
  /* align-items: center; */
  text-align: left;
}

.FilterSection{
  display: grid;
  margin: auto;
  min-width: 80vh;
  overflow: auto;
}

.FilterBox{
  background-color: #383838;
}

.FilterButton{
  background-color: var(--col-03);
}

.SelectedFilter{
  background-color: var(--col-04);
}

.RecipeLink{
  text-align: center;
  color: var(--col-07);
}

.RecipeLink > a {
  color: var(--col-05);
}

.RecipeName{
  text-align: center;
  font-size: 1.5em;
  overflow: visible;
  color: rgb(237, 195, 141);
}

.RecipeName > a {
  color: var(--col-05);
}


.Author{
  text-align: center;
  color: rgb(143, 108, 56);
  font-weight: 200;
}

.RecipeImageContainer{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2;
  justify-content: center;
  padding: 20px;
  align-content: center;
  
}

.RecipeImg{
  display: flex;
  justify-content: center;
  width: 450px;
  height: auto;
}

/* 
Wanted to find a way to resize images
IF it's wide, then restrict the width
IF it's tall, then restrict the height
OR both~
??but how to keep the aspect ratio?? 
*/
/* .RecipeImgWide{
  width: 450px;
  height: auto;
} */
/* .RecipeImgTall {
  width: auto;
  height: 450px;
} */

.Attribution{
  /* justify-self: center; */
  /* align-content: center; */
  text-align: center;
  width: 450px;
  height: auto;
  
  font-size: 0.8em;
  font-style: italic;
  color: var(--col08);
}

/* .Publisher{

} */

.Cuisine{
  text-align: center;
}

.TimeToCook{
  text-align: center;
}

.SkillLevel{
  text-align: center;
}

.Course{
  text-align: center;
}

.Servings{
  text-align: center;
}

.Dietary{
  text-align: center;
}

.DatePublished{
  text-align: center;
  color: var(--col-07);
}

.DateUpdated{
  text-align: center;
  color: var(--col-07);
}

.SpecialEquipment{
  text-align: center;
  color: var(--col-07);
}

