/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#f0f6f0;

  /* Filter buttons */
  --col-03:#bab1b8;
  --col-04:#ba87af;

  /* Hyperlinks */
  --col-05:rgb(29, 208, 240);
  --col-06:rgb(23, 142, 163);

  --col-07:rgb(133, 139, 141);

  /* Attribution */
  --col-08:rgb(13, 81, 104);

  --border: 1px solid var(--col-02);
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
}

a {
  color: var(--col-06);
}

/*
  i've set up a basic flexbox for each recipe container - you might want to change some of the 
  flex properties here on the container or on the individual flex items depending on how you want to style them
*/
.RecipeBox{
  display: flex;
  flex-direction: column;
  border: var(--border);
  padding: 2vw;
  /* align-items: center; */
}

.FilterSection{
  display: grid;
  margin: auto;
  min-width: 80vh;
  overflow: auto;
}

.FilterBox{
  background-color: #383838;
}

.FilterButton{
  background-color: var(--col-03);
}

.SelectedFilter{
  background-color: var(--col-04);
}

.RecipeLink{
  color: var(--col-07);
}

.RecipeLink > a {
  color: var(--col-05);
}

.RecipeName{
  font-size: 1.5em;
  color: rgb(237, 195, 141);
}

.Author{
  color: rgb(143, 108, 56);
  font-weight: 200;
}

.RecipeImageContainer{
  padding: 20px;
  align-content: center;
}

.RecipeImg{
  width: 500px;
  /* padding: 20px; */

}

.Attribution{
  font-size: 0.8em;
  font-style: italic;
  color: var(--col08);
}

/* .Publisher{

} */

.Cuisine{

}

.TimeToCook{

}

.SkillLevel{

}

.Course{

}

.Servings{

}

.Dietary{

}

.DatePublished{
  color: var(--col-07);
}

.DateUpdated{

}

.SpecialEquipment{
  color: var(--col-07);
}

