/*
  This one CSS file is imported into both index.html AND hosono.html so you need to be careful that it 
  works for both.
*/

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  /* first two colours come from Kuroi's Manga Pallete Palette */
  /* https://lospec.com/palette-list/manga-pallete */
  --col-01:#171219;
  --col-02:#f2fbeb;
  --col-03:#5252ff;
  --col-04:#b6e878;
  font-size: 16px;
  /* scroll behaviour makes the <a> links to ids scroll to position over time rather than immediately */
  scroll-behavior: smooth;
}

a:active {
  color: var(--col-03);
}


body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
}

nav {
  margin-top: 1rem;
}

nav li{
  font-size: 1rem;
}


section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
}

dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}


#mode-button{
  float: right;
  /* note the use of position: sticky to keep the button on the page even with scrolling */
  position: sticky; /* noted :) */
  top: 1rem;

  background-color: rgba(86, 86, 86, 0.95);
  width: 20vh;
  height: 5vh;
  border-radius: 5px;
  font-size: 1rem;

  cursor: pointer;

}

#mode-button:hover{
  background-color: rgba(110, 110, 110, 0.95);
}

#mode-button:active{
  background-color: rgba(40, 40, 40, 0.95);
  box-shadow: 0 5px rgba(40, 40, 40, 0.95);
  transform: translateY(2px);

}

/* code for loading page */

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* changing button to look like a link */
#load-link{
  line-height: 1rem;
  background-color: transparent;
  border: 0;
}
/* throbber while page is fake loading 
REF: https://www.w3schools.com/howto/howto_css_loader.asp*/
#load-throbber{
  /* the width, height and background-color give it a shape on the page without any content inside - 
  these value are arbitrary, please change to create your own design  */
  
  border: 16px solid var(--col-02);
  border-top: 16px solid var(--col-04);
  border-radius: 50%;
  
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;

  /* background-color: var(--col-03); */
  /* color: var(--col-01); */
  /* we also initially set display to none so it only shows once the link is clicked */
  display: none;
  
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Queries */

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }
}