body {
    background-color: #e8e7e1;
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 18px;

    margin: 50px; /* adds margin all-around */

}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva;
    color:#313242;
    font-size: 30px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 24px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 20px;
    color: #121212;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 18px;
    color: #121212;    
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 18px;
    color: #121212;     
}


/* thanks to Patrick's CSS Worksheet */
#preface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
}
/* To test and see the paragraph boxes, and how much space they take */
/* #preface p {
    display: block;
    background-color: #1693bd;
} */

/* So that only this specific paragraph has centre-aligned text */
#preface p {
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 20px;
    color: #121212;

    text-align: center;
    margin: 0;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
}

#footer p {
    font-family: 'Segoe UI', Tahoma, Geneva;
    font-size: 20px;
    color: #121212;

    text-align: center;
    margin: 0;
}




/* styling for the Navigation Menu and a links (29/03/2023) */

/* A flexible container/box */
/* Doesn't seem to be used in the same way as on here
   https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
#nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* A box for each item in nav menu, i think */
#nav-menu a {
    max-width: 80%;
    display: block;

    background-color: rgb(252, 215, 182);
    color: #1693bd;
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
    
    font: bold 1.5rem 'Segoe UI';
    text-decoration: underline dashed;
}

/*  :hover  --> when you move and leave the cursor on the item */
#nav-menu a:hover {
    background-color: rgb(252, 215, 182);
    color: rgb(46, 80, 114);
}

/* :active  --> When you click/hold down click the item */
#nav-menu a:active {
    color: rgb(244, 95, 177);
}


a {
    color: rgb(42, 183, 136);
    text-decoration: underline dotted rgb(43, 130, 101);;
}

/*  :hover  --> when you move and leave the cursor on the item */
a:hover {
    color: rgb(40, 92, 75);
}

/* :active  --> When you click/hold down click the item */
a:active {
    color: rgb(244, 95, 177);
}


/* class for Box Sections  (29/03/2023)*/
.section-box {
    max-width: 80%;
    margin: 0 auto; /* somehow, centre aligns the box */

    display: block;

    padding: 50px;
    overflow: auto;

    background-color: aliceblue;
    border-style:inset;
    border-color:azure
    
}
