/* Grid container */
.wrapper {
    display: grid;
    padding-right: 20px;
    background-color: bisque;
    border-style: solid;
    border-color: aquamarine;

    column-gap: .5em;
    row-gap: .5em;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(30, 1fr);

    justify-content: center;
    align-content: center;
    overflow: auto;
    min-height: 100vh;
    min-width: 80vh;
    
}

.wrapper > div {
    background-color:rgb(78, 38, 38);
    border-style: solid;
    border-color: rgb(255, 136, 154);
    
    color:rgb(255, 255, 255);
    text-align: center;
}

/* top-left */
/* 
    I had the idea for a sunset aethetic. 
    Lots of verying shades of pink, pink-reds.
    It doesn't look like a sunset, right now.
*/
.box1 {
    grid-column: 1/6;
    grid-row: 1/10;
    background: linear-gradient(
        135deg, 
        rgb(125, 13, 63) 0%, 
        rgb(193, 92, 166) 35%, 
        rgb(65, 19, 51) 85%);

}
/* top-middle */
.box2 {
    grid-column: 6/8;
    grid-row: 3/12;
    background: linear-gradient(
        135deg, 
        rgb(65, 19, 51) 0%,
        rgb(125, 13, 63) 70%, 
        rgb(193, 92, 166) 100%);
}
/* top-right */
.box3 {
    grid-column: 8/12;
    grid-row: 3/13;
    background: linear-gradient(
        135deg, 
        rgb(193, 92, 166) 0%,
        rgb(125, 13, 63) 60%,
        rgb(65, 19, 51) 90%);
        
}

/* bottom-left */
.box4 {
    grid-column: 1/6;
    grid-row: 17/31;
}
/* bottom-middle */
.box5 {
    grid-column: 6/8;
    grid-row: 17/31;
}
/* bottom-right */
.box6 {
    grid-column: 8/12;
    grid-row: 18/31;
}