/* 
  Alpha with Hex colour codes
  REF: https://www.digitalocean.com/community/tutorials/css-hex-code-colors-alpha-values
 */
:root {
  --sender-border-colour: #acf7f6;
  --sender-bg-colour: #65C6C4;
  --recipient-border-colour: #cfcfcf;
  --recipient-bg-colour: #c0c0c0;
  --accent-colour: #FFD166;
  --background-colour: #F4F4F4;
  --text-colour: #333333;
  --heading-colour: #222222;
  --border-colour: #CCCCCC;
}

html {
  font-family: Lato;
}



.outer-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-window {
  width: 400px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  /* Create spacing between chatroom and body text */
}

.body-text {
  text-align: center;
  align-items: center;
}

.body-text h1 {
  font-size: large;
}

.chatroom {
  margin-bottom: 20px;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat-message img {
  border: 2px solid;
  border-color: #f4f4f4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.chat-message p {
  border: 2px solid var(--recipient-border-colour);
  background-color: var(--recipient-bg-colour);
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  max-width: 200px;
}

.chat-message-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.chat-message-right img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 0;
}

.chat-message-right p {
  border: 2px solid var(--sender-border-colour);
  background-color: var(--sender-bg-colour);
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  max-width: 200px;
}

.hidden {
  display: none;
}