/* 
  Alpha with Hex colour codes
  REF: https://www.digitalocean.com/community/tutorials/css-hex-code-colors-alpha-values
 */
:root {
  --sender-border-colour: #03a3a0;
  --sender-bg-colour: #03a3a0;
  --recipient-border-colour: #4c4c4c;
  --recipient-bg-colour: #4c4c4c;
  --accent-colour: #FFD166;
  --outer-background-colour: #F4F4F4;
  --inner-background-colour: #1a1a1a;
  --inner-border-colour: #b2b2b2;
  --body-background-colour: #F4F4F4;
  --text-colour: #ffffff;
  --heading-colour: #222222;
  --border-colour: #CCCCCC;
}

html {
  font-family: Lato;
}


.outer-window {
  background-color: var(--outer-background-colour);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-window {
  /* background-image: url("img/background.jpg"); */
  background-color: var(--inner-background-colour);
  width: 400px;
  padding: 20px;
  border-color: var(--inner-border-colour);
  border-radius: 10px;
  margin-bottom: 20px;
  /* Create spacing between chatroom and body text */
}

.body-text {
  text-align: center;
  align-items: center;
}

.body-text h1 {
  font-size: large;
}

.body-text h3 {
  font-size: medium;
}

.chatroom {
  margin-bottom: 20px;
}

.chat-message {
  color: var(--text-colour);
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat-message img {
  border: 1.5px solid;
  border-color: #f4f4f4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Recipient chat bubble */
.chat-message p {
  cursor: pointer;
  border: 2px solid var(--recipient-border-colour);
  background-color: var(--recipient-bg-colour);
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  max-width: 200px;
}

.chat-message-right {
  color: var(--text-colour);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.chat-message-right img {
  border: 1.5px solid;
  border-color: #f4f4f4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 0;
}

/* Sender chat bubble */
.chat-message-right p {
  cursor: pointer;
  border: 2px solid var(--sender-border-colour);
  background-color: var(--sender-bg-colour);
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  max-width: 200px;
}

.hidden-image {
  /* width: 40px;
  height: 40px;
  display: none; */
}

.hidden {
  display: none;
}